.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 10rem;

    &_items{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media(max-width: 768px) {
        flex-direction: column;
    } 
    img {
        width: 150px;
        height: 100px;
    }
}
    

    &_items-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        font-size: 2rem;
    }
}